@import "tailwindcss";

@theme {
   --color-bg: #0A0A0A;
  --color-surface: #111111;
  --color-surface-hover: #161616;
  --color-border: #1F1F1F;

  --color-fg: #FFFFFF;
  --color-secondary: #A1A1AA;
  --color-muted: #71717A;
}

body {
  background-color: #0A0A0A;
  color: #FFFFFF;
}

html {
  scroll-behavior: auto;
}
