/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merienda:wght@300..900&family=Outfit:wght@100..900&display=swap'); */
@import "tailwindcss";

@theme {
   --color-bg: #0A0A0A;
  --color-surface: #111111;
  --color-surface-hover: #161616;
  --color-border: #1F1F1F;

  --color-fg: #FFFFFF;
  --color-secondary: #A1A1AA;
  --color-muted: #71717A;
}

body {
  background-color: #0A0A0A;
  color: #FFFFFF;
}

html {
  scroll-behavior: auto;
}

@layer base {
  h4 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
  }
}